<div>
  <h1>LOGIN</h1>
  <form action="/api/sessions/login" method="post">
    <label for="">Email: </label>
    <input type="text" name="email" />
    <label for="">Contraseña: </label>
    <input type="password" name="password" />
    <button>Iniciar sesion</button>
  </form>
  <form action="/views/register">
    <button>Registrarse</button>
  </form>
  <form action="/views/recoverPassword">
    <button>Recuperar contraseña</button>
  </form>
</div>